{"openapi":"3.0.0","info":{"title":"Coram API","description":"# Introduction\n\nThe Coram API enables seamless programmatic access to your security camera infrastructure, allowing you to build custom integrations and automate workflows.\n\n# Supported Actions\n\nManage and interact with your Coram platform resources:\n\n| Resource | Description |\n| -------- | ----------- |\n| **Camera Groups** | Organize and configure camera collections |\n| **Cameras** | Access camera settings, streams, and metadata |\n| **Locations** | Manage physical site configurations |\n| **NVRs** | Control and monitor network video recorders |\n| **Access Control** | List access control doors and trigger remote unlocks |\n\n# Required Headers\n\nEvery API request must include the following headers:\n\n| Header | Required | Description |\n| ------ | -------- | ----------- |\n| `X-Auth-Token` | Yes | Your API key (from the API key List Page) |\n\n**Example:**\n```\ncurl -X GET \"https://api.coram.ai/developer-api/v1/cameras\" \\\n  -H \"X-Auth-Token: xxxxxxxxxxxxxxx\"\n```\n\n# Response Format\n\nAll API responses follow a consistent structure based on the operation result.\n\n## Success Response\n\n**List Operations** (e.g., `GET /v1/cameras`)\n\nReturns a `results` array with pagination support:\n\n```json\n{\n  \"results\": [\n    { \"id\": \"cam_001\", \"name\": \"Front Door\", ... },\n    { \"id\": \"cam_002\", \"name\": \"Lobby\", ... }\n  ],\n  \"has_more\": true\n}\n```\n\nWhen `has_more` is `true`, additional results are available. Use pagination parameters to fetch more.\n\n**Bulk/Batch Operations** (e.g., `POST /v1/cameras`, `PATCH /v1/cameras`)\n\nReturns a top-level `status` field indicating whether the API request was processed, and a `results` array where each item reflects the outcome of an individual operation:\n\n```json\n{\n  \"status\": \"success\",\n  \"results\": [\n    { \"status\": \"success\", \"data\": { \"id\": \"cam_001\", \"mac_address\": \"...\" } },\n    { \"status\": \"error\", \"error\": { \"code\": \"VALIDATION_ERROR\", \"message\": \"...\" } }\n  ]\n}\n```\n\n| Field | Description |\n| ----- | ----------- |\n| `status` (top-level) | `\"success\"` if the request was processed |\n| `results[].status` | `\"success\"` or `\"error\"` for each operation |\n| `results[].data` | Present when `status` is `\"success\"` |\n| `results[].error` | Present when `status` is `\"error\"` |\n\n## Error Response\n\nWhen an error occurs, the response includes `status` set to `\"error\"` along with detailed error information:\n\n```json\n{\n  \"status\": \"error\",\n  \"error\": {\n    \"code\": \"VALIDATION_ERROR\",\n    \"message\": \"Invalid MAC address format\",\n    \"field\": \"mac_address\"\n  }\n}\n```\n\n**Error Fields:**\n\n| Field | Type | Description |\n| ----- | ---- | ----------- |\n| `code` | string | Machine-readable error code |\n| `message` | string | Human-readable error description |\n| `field` | string | The field that caused the error (if applicable) |\n\n\n# HTTP Status Codes\n\nThe API uses standard HTTP status codes to indicate the success or failure of requests:\n\n## Success Codes\n\n| Code | Description |\n| ---- | ----------- |\n| `200 OK` | Request succeeded |\n| `201 Created` | Resource successfully created |\n| `204 No Content` | Request succeeded with no response body |\n\n## Client Error Codes\n\n| Code | Description |\n| ---- | ----------- |\n| `400 Bad Request` | Invalid request syntax or parameters |\n| `401 Unauthorized` | Missing or invalid API key |\n| `403 Forbidden` | Valid API key but insufficient permissions |\n| `404 Not Found` | Requested resource does not exist |\n| `422 Unprocessable Entity` | Validation error in request body |\n| `429 Too Many Requests` | Rate limit exceeded |\n\n## Server Error Codes\n\n| Code | Description |\n| ---- | ----------- |\n| `500 Internal Server Error` | Unexpected server error (rare) |\n| `502 Bad Gateway` | Upstream service unavailable |\n| `503 Service Unavailable` | Service temporarily unavailable |\n\n\n# Error Handling Best Practices\n\n1. **Always check the `status` field** — Verify if the response indicates `\"success\"` or `\"error\"`\n\n2. **Handle specific error codes** — Use the `error.code` field to handle different error types programmatically\n\n3. **Implement retry logic** — For `429` and `5xx` errors, implement exponential backoff\n\n4. **Log error details** — Capture `error.code`, `error.message`, and `error.field` for debugging\n\n**Example error handling:**\n```python\nresponse = api.create_camera(data)\n\nif response[\"status\"] == \"error\":\n    error = response[\"error\"]\n    if error[\"code\"] == \"VALIDATION_ERROR\":\n        print(f\"Invalid {error['field']}: {error['message']}\")\n    elif error[\"code\"] == \"DUPLICATE_RESOURCE\":\n        print(\"Camera already exists\")\n    else:\n        print(f\"Error: {error['message']}\")\n```\n\n---\n\n# Getting Started\n\n1. **Generate an API key** from your Coram app settings\n2. **Explore the endpoints** in the navigation to begin integrating\n\nNeed help? Contact [support@coram.ai](mailto:support@coram.ai)\n","version":"1.0.0"},"servers":[{"url":"https://developer.coram.ai","description":"Production"}],"paths":{"/v1/alerts/{alert_event_id}/clip":{"get":{"tags":["alerts"],"summary":"Get alert video clip","description":"Returns a public download URL for the MP4 video clip associated with an alert event. The URL does not require authentication and expires after 24 hours. Use the alert_event_id from webhook payloads to retrieve the corresponding video clip.","operationId":"get_alert_clip","parameters":[{"required":true,"schema":{"type":"integer","title":"Alert Event Id"},"name":"alert_event_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertClipResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-public-api":true,"security":[{"X-Auth-Token":[]}]}},"/v1/alerts/{alert_event_id}/feedback":{"get":{"tags":["alerts"],"summary":"Get firearm alert feedback","description":"Returns the current feedback (0.0-1.0 rating, reason, comment) for a firearm alert event. Feedback is organization-wide (last write wins); the feedback fields are null when no feedback has been submitted yet. Returns 404 if the alert event does not exist and 400 if it is not a firearm alert.","operationId":"get_firearm_alert_feedback","parameters":[{"required":true,"schema":{"type":"integer","title":"Alert Event Id"},"name":"alert_event_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirearmAlertFeedbackResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-public-api":true,"security":[{"X-Auth-Token":[]}]},"put":{"tags":["alerts"],"summary":"Submit firearm alert feedback","description":"Submits feedback for a firearm alert event. rating is a 0.0-1.0 score (today 0.0 = incorrect / unhelpful, 1.0 = correct). Feedback is organization-wide and idempotent (last write wins): submitting again replaces the previous feedback. feedback_reason and feedback_comment are optional. Returns 404 if the alert event does not exist and 400 if it is not a firearm alert.","operationId":"submit_firearm_alert_feedback","parameters":[{"required":true,"schema":{"type":"integer","title":"Alert Event Id"},"name":"alert_event_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirearmAlertFeedbackRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirearmAlertFeedbackResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-public-api":true,"security":[{"X-Auth-Token":[]}]}},"/v1/alerts/{alert_event_id}/details":{"get":{"tags":["alerts"],"summary":"Get alert details (including AI description)","description":"Returns metadata about an alert event, including the rich natural-language description generated by Coram's vision language model. The description is produced asynchronously after the alert webhook fires, so consumers polling immediately may see `ai.status: pending` for a few seconds. Once `ai.status` is `ready`, the `ai.short_description` and `ai.long_description` fields are populated. If it is `failed`, no description will arrive.\n\nWhen a video clip is being produced for the alert, a `clip` object is included: `clip.status` is `ready` (with a download `mp4_url` valid for 24 hours and an `expires_at`), `pending` (still uploading — poll again shortly), or `failed`. Alerts with no clip pipeline omit the `clip` field entirely.","operationId":"get_alert_details","parameters":[{"required":true,"schema":{"type":"integer","title":"Alert Event Id"},"name":"alert_event_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertDetailsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-public-api":true,"security":[{"X-Auth-Token":[]}]}},"/v1/alerts/firearm":{"post":{"tags":["alerts"],"summary":"Create firearm alert","description":"Creates a firearm-detection alert configuration. Recipients are specified by email (matched case-insensitively) and resolved to platform users in your organization; each recipient's notify_by_sms/notify_by_push only deliver when the user has a phone number / registered device. The schedule is interpreted in each camera's local time. The alert is attributed to the API key (creator_name = the key's identity). Note: a null name is omitted from the response rather than serialized as null.","operationId":"create_firearm_alert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFirearmAlertRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirearmAlertResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Firearm alert not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Camera assignment conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]}},"/v1/alerts/firearm/{firearm_alert_id}":{"delete":{"tags":["alerts"],"summary":"Delete firearm alert","description":"Deletes a firearm-detection alert configuration and any alerts it has produced. Returns 204 on success and 404 if the firearm alert does not exist in your organization.","operationId":"delete_firearm_alert","parameters":[{"required":true,"schema":{"type":"integer","title":"Firearm Alert Id"},"name":"firearm_alert_id","in":"path"}],"responses":{"204":{"description":"Successful Response"},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Firearm alert not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true},"patch":{"tags":["alerts"],"summary":"Update firearm alert","description":"Partially updates a firearm-detection alert configuration; only the provided fields are changed. Providing recipients replaces the full recipient list. The schedule is interpreted in each camera's local time. Note: a null name is omitted from the response rather than serialized as null.","operationId":"update_firearm_alert","parameters":[{"required":true,"schema":{"type":"integer","title":"Firearm Alert Id"},"name":"firearm_alert_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFirearmAlertRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirearmAlertResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Firearm alert not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Camera assignment conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true}},"/v1/cameras":{"get":{"tags":["cameras"],"summary":"List cameras","description":"List all cameras accessible to the user.\n\nRetrieve cameras accessible to the user with their current status and\nconfiguration details. Results can be filtered by NVR, location,\nMAC address, IP address, or camera group ID.","operationId":"list_cameras","parameters":[{"required":false,"schema":{"items":{"type":"string"},"type":"array","title":"nvr"},"name":"nvrs","in":"query"},{"required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"location_id"},"name":"location_ids","in":"query"},{"required":false,"schema":{"type":"boolean","title":"exclude_disabled","default":false},"name":"exclude_disabled","in":"query"},{"required":false,"schema":{"items":{"type":"string"},"type":"array","title":"mac_address"},"name":"mac_addresses","in":"query"},{"required":false,"schema":{"items":{"type":"string"},"type":"array","title":"ip"},"name":"ips","in":"query"},{"required":false,"schema":{"items":{"type":"integer"},"type":"array","title":"group_id"},"name":"group_ids","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"limit","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraList"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-public-api-version":"v1","x-public-api":true,"security":[{"X-Auth-Token":[]}]},"post":{"tags":["cameras"],"summary":"Register cameras","description":"Register multiple cameras in single location.\n\nRegister one or more cameras at a location by assigning them to available NVRs.\nCameras are automatically load-balanced across NVRs based on available capacity.","operationId":"register_cameras","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterCameraRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterCameraResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]},"delete":{"tags":["cameras"],"summary":"Delete cameras","description":"Delete one or more cameras.\n\nRemove one or more cameras from the system.","operationId":"delete_cameras","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/DeleteCameraPayload"},"type":"array","title":"DeleteCameraPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCameraResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]},"patch":{"tags":["cameras"],"summary":"Update cameras","description":"Update one or more cameras.\n\nUpdate configuration, credentials, feature flags, and group assignments\nfor one or more cameras. Each camera is updated independently - if one\ncamera's update fails, others can still succeed. Within each camera's\nupdate, all changes are atomic.\n\n**Group Assignment:**\n- Provide `group_ids` to assign the camera to specific groups\n- An empty list `[]` resets the camera to the default group\n- Omit `group_ids` (null) to leave group assignments unchanged","operationId":"update_cameras","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/UpdateCameraPayload"},"type":"array","title":"UpdateCameraPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCameraResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]}},"/v1/cameras/move":{"post":{"tags":["cameras"],"summary":"Move cameras","description":"Move one or more cameras to different NVRs.\n\nTransfer one or more cameras from one NVR to another.","operationId":"move_cameras","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/MoveCameraPayload"},"type":"array","title":"MoveCameraPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MoveCameraResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]}},"/v1/camera-groups":{"get":{"tags":["camera-groups"],"summary":"List camera groups","description":"List camera groups.\n\nRetrieve a paginated list of camera groups.\nGroups are used to organize cameras for easier management and access control.","operationId":"list_camera_groups","parameters":[{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"Page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"Limit","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraGroupList"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-public-api-version":"v1","x-public-api":true,"security":[{"X-Auth-Token":[]}]},"post":{"tags":["camera-groups"],"summary":"Create camera group","description":"Create a new camera group.\n\nCreate a new camera group with the specified name. Camera groups are used\nto organize cameras for easier management and access control.","operationId":"create_camera_group","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCameraGroupPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCameraGroupResponse"}}}},"409":{"description":"Camera group name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Camera group creation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]}},"/v1/nvrs":{"get":{"tags":["nvrs"],"summary":"List NVRs","description":"List all NVRs accessible to the user.\n\nRetrieve NVRs accessible to the user with their current status and\nconfiguration details. Results can be filtered by NVR UUID or location.","operationId":"list_nvrs","parameters":[{"required":false,"schema":{"type":"string","title":"nvr"},"name":"nvr","in":"query"},{"required":false,"schema":{"type":"integer","title":"location_id"},"name":"location_id","in":"query"},{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"limit","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NVRList"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-public-api-version":"v1","x-public-api":true,"security":[{"X-Auth-Token":[]}]},"post":{"tags":["nvrs"],"summary":"Register NVRs","description":"Register multiple NVRs in bulk.\n\nRegister one or more NVRs by assigning them to locations.","operationId":"register_nvrs","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/RegisterNVRPayload"},"type":"array","title":"RegisterNVRPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterNVRResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]}},"/v1/nvrs/ping":{"post":{"tags":["nvrs"],"summary":"Ping NVR","description":"Run ping test on NVR.\n\nSend a ping request to the specified NVR to test network connectivity.","operationId":"ping_nvr","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingRequestBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/PingSuccessResponse"},{"$ref":"#/components/schemas/PingFailureResponse"}],"title":"Response Ping Nvr"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-public-api-version":"v1","x-public-api":true,"security":[{"X-Auth-Token":[]}],"parameters":[]}},"/v1/nvrs/speedtest":{"post":{"tags":["nvrs"],"summary":"Speed test NVR","description":"Run speed test on NVR.\n\nInitiate a speed test on the specified NVR to measure network performance.","operationId":"speedtest_nvr","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpeedTestRequestPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SpeedTestSuccessResponse"},{"$ref":"#/components/schemas/SpeedTestFailureResponse"}],"title":"Response Speedtest Nvr"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-public-api-version":"v1","x-public-api":true,"security":[{"X-Auth-Token":[]}],"parameters":[]}},"/v1/locations":{"get":{"tags":["locations"],"summary":"List locations","description":"List all locations accessible to the user.\n\nRetrieve locations accessible to the user for the organization.\nReturns locations across all product lines the user has access to.","operationId":"list_locations","parameters":[{"required":false,"schema":{"type":"integer","minimum":1.0,"title":"page","default":1},"name":"page","in":"query"},{"required":false,"schema":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"limit","default":100},"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationList"}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-public-api-version":"v1","x-public-api":true,"security":[{"X-Auth-Token":[]}]},"post":{"tags":["locations"],"summary":"Create locations","description":"Create multiple locations in bulk.\n\nCreate one or more locations for the organization.","operationId":"create_locations","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CreateLocationPayload"},"type":"array","title":"CreateLocationPayload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLocationResponse"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"X-Auth-Token":[]}],"x-public-api-version":"v1","x-public-api":true,"parameters":[]}},"/v1/access-control/events/{event_id}/clip":{"get":{"tags":["events"],"summary":"Get event clip URL","description":"Returns a public download URL for the MP4 video clip captured by the event's door's primary camera around the event timestamp. The URL does not require authentication and expires after 24 hours. Use the event_id from the events list endpoint or a webhook payload to fetch the clip.","operationId":"GetEventClip","parameters":[{"required":true,"schema":{"type":"integer","title":"Event Id"},"name":"event_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventClipResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-public-api-version":"v1","x-public-api":true,"security":[{"X-Auth-Token":[]}]}},"/v1/access-control/doors":{"get":{"operationId":"list_access_control_doors","summary":"List access control doors","description":"Returns the doors the API key creator can see, with their online\nstatus. Admins see every door in the tenant; lower roles see only\ndoors they have permission to unlock. Use `page` and `limit` to\npaginate; `has_more` on the response signals more pages remain.\n","tags":["doors"],"security":[{"X-Auth-Token":[]}],"parameters":[{"in":"query","name":"page","required":false,"schema":{"type":"integer","minimum":1,"default":1},"description":"1-indexed page number."},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":100},"description":"Maximum doors per page (capped at 100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoorList"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"403":{"description":"API key lacks the required scope or role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}}},"x-public-api":true,"x-public-api-version":"v1"}},"/v1/access-control/events":{"get":{"operationId":"list_access_control_events","summary":"List access control events","description":"Returns events emitted by access control devices: card scans\n(`card_reader_event`), grant/deny decisions (`access_control_event`),\nREX presses (`rex_event`), door-held-open alarms (`door_held_open_event`),\nbattery alerts, and so on. Use the filters to narrow down by door,\ncardholder, event type, or time window. Pagination uses the same\n`page` + `limit` + `has_more` shape as every other developer-API list\nendpoint.\n\nThe per-event `details` object carries event-type-specific data\n(card_id, access_decision_reason, etc.). Treat it defensively: new\nkeys may appear in future event types.\n","tags":["events"],"security":[{"X-Auth-Token":[]}],"parameters":[{"in":"query","name":"start_time","required":false,"schema":{"type":"string","format":"date-time"},"description":"RFC3339 inclusive lower bound on `timestamp`."},{"in":"query","name":"end_time","required":false,"schema":{"type":"string","format":"date-time"},"description":"RFC3339 inclusive upper bound on `timestamp`."},{"in":"query","name":"door_ids","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"style":"form","explode":true,"description":"Repeat to filter to events emitted at specific doors."},{"in":"query","name":"cardholder_ids","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"style":"form","explode":true,"description":"Repeat to filter to events for specific cardholders."},{"in":"query","name":"event_types","required":false,"schema":{"type":"array","items":{"type":"string","enum":["card_reader_event","access_control_event","remote_access_control_event","door_relay_event","door_forced_open_event","door_held_open_event","rex_event","door_position_event","fire_alarm_event","battery_status_event","device_lid_status_event","relay_testing_button_event","door_control_state_event"]}},"style":"form","explode":true,"description":"Repeat to filter to a subset of event types."},{"in":"query","name":"page","required":false,"schema":{"type":"integer","minimum":1,"default":1},"description":"1-indexed page number."},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":100},"description":"Maximum events per page (capped at 100)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventList"}}}},"400":{"description":"Invalid filter values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"403":{"description":"API key lacks the required scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}}},"x-public-api":true,"x-public-api-version":"v1"}},"/v1/access-control/doors/{door_id}/unlock":{"post":{"operationId":"unlock_access_control_door","summary":"Unlock an access control door","description":"Sends a momentary-unlock command to the door's controller board.\nRequires `write:*` scope and an `admin` creator role. The same\npermission checks the in-app unlock flow runs are applied; an API key\nwhose creator no longer has access to the door is rejected.\n","tags":["doors"],"security":[{"X-Auth-Token":[]}],"parameters":[{"in":"path","name":"door_id","required":true,"schema":{"type":"integer","format":"int64"},"description":"ID of the door to unlock"}],"responses":{"200":{"description":"Unlock command issued","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnlockResponse"}}}},"400":{"description":"Invalid door_id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"403":{"description":"API key lacks the required scope or role, or the creator cannot unlock this door","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}}},"x-public-api":true,"x-public-api-version":"v1"}},"/v1/reunification/imports":{"post":{"operationId":"create_reunification_import","summary":"Import reunification roster data","description":"Bulk-imports reunification roster data — schools, students (with their\nguardians), teachers, and staff — as JSON. The programmatic equivalent\nof the in-app CSV upload.\n\n**This is a full roster replace, not a partial update.** Each call\nreplaces the organization's entire reunification roster: every person\nand school you send is inserted or updated, and **anything you omit is\nremoved**. To keep someone, include them in every import; to remove\nsomeone, send a roster without them. Always send the complete roster —\nsending only `students`, for example, would delete all schools,\nteachers, and sections. To guard against that, the `schools`,\n`students`, `teachers`, and `sections` keys are **required to be\npresent** (they may be empty arrays); `staff` is optional. This mirrors\nthe in-app CSV upload, which requires every file.\n\nList each student, teacher, and staff member **once**. To place a person\nin multiple schools, put every school id in `school_ids` on that single\nobject — a repeated `student_id`/`teacher_id`/`staff_id` is rejected\n(`400`), not merged.\n\nCross-references are resolved against the ids in this same payload, so\nlist an entity before you reference it. A `school_id`, `student_id`, or\n`teacher_id` that doesn't resolve to something in the payload is\nsilently skipped — the surrounding record is still imported, just\nwithout that link — so a mistyped id quietly drops a school membership\nor section rather than failing the import.\n\nProcessing runs asynchronously and respects the same Auth0 rate limits\nas the in-app flow; only one import per organization runs at a time —\na request made while one is already running returns `409`. The `202`\nresponse is the initial in-progress status — poll\n`GET /reunification/imports/status` for completion and partial-success\ncounts.\n\n`school_location_mappings` maps each `school_id` in the payload to a\nCoram location ID. Requires `write:*` scope and an `admin` creator role;\nthe feature must be enabled for the organization.\n","tags":["reunification"],"security":[{"X-Auth-Token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReunificationImportInput"}}}},"responses":{"202":{"description":"Import accepted and processing started","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReunificationImportStatus"}}}},"400":{"description":"Empty payload, missing school_location_mappings, or invalid data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"403":{"description":"API key lacks the required scope/role, or the feature is not enabled for the organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"409":{"description":"An import is already running for this organization; poll the existing one instead","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}}},"x-public-api":true,"x-public-api-version":"v1","parameters":[]}},"/v1/reunification/imports/status":{"get":{"operationId":"get_reunification_import_status","summary":"Get the current reunification import status","description":"Returns the status of the organization's most recent reunification\nimport, including per-entity synced/total counts and the\n`succeeded_users` / `failed_users` provisioning figures. Poll this\nafter starting an import. Requires `read:*` scope and a `regular`\ncreator role.\n\nNote: `succeeded_users` and `failed_users` are eventually consistent.\nGuest/staff accounts are provisioned in the background after the roster\nis imported, so these counts keep climbing for a few seconds after\n`status` becomes `completed`. Treat `completed` as \"roster imported\" and\nkeep polling the user counts until they stop changing.\n\n`completed` means the roster was imported and account provisioning was\ndispatched — it does **not** by itself mean every account succeeded.\nCheck `failed_users`: a non-zero value on a `completed` import is a\npartial success (e.g. seat limits or Auth0 rejections for some users).\n","tags":["reunification"],"security":[{"X-Auth-Token":[]}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReunificationImportStatus"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"403":{"description":"API key lacks the required scope/role, or the feature is not enabled for the organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"404":{"description":"No import found for this organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthErrorResponse"}}}}},"x-public-api":true,"x-public-api-version":"v1","parameters":[]}}},"tags":[{"name":"alerts","description":""},{"name":"camera-groups","description":"Organize cameras into logical collections for easier management. Camera groups allow you to categorize cameras by location, purpose, or any custom criteria. Use these endpoints to create, update, list, and delete camera groups."},{"name":"cameras","description":"Manage individual cameras within your organization. Use these endpoints to register new cameras, update camera settings, retrieve camera information and status, move cameras between locations, and delete cameras from your system."},{"name":"doors","description":"List access control doors and trigger momentary remote unlocks. The same per-door permission checks the in-app unlock flow runs apply here — a key whose creator cannot unlock a door in the UI cannot unlock it via the API either."},{"name":"events","description":"Query access control device events (card scans, REX presses, forced-open / held-open alarms, battery alerts, …) and fetch the MP4 video clip recorded by the door's primary camera around an event's timestamp."},{"name":"locations","description":"Manage physical site configurations where cameras and NVRs are deployed. Locations represent your facilities, buildings, or areas. Use these endpoints to create, update, list, and delete locations."},{"name":"nvrs","description":"Control and monitor Network Video Recorders (NVRs) in your infrastructure. NVRs are hardware devices that record and store video from connected cameras. Use these endpoints to register NVRs, update their configuration, check connectivity status, run speed tests, and manage NVR settings."},{"name":"reunification","description":"Bulk-import your school reunification roster — schools, students (with guardians), teachers, staff, and class sections — programmatically, the API equivalent of the in-app CSV upload. Each import is a full roster replace; poll the status endpoint for completion and partial-success counts."}],"x-tagGroups":[{"name":"Surveillance","tags":["cameras","camera-groups","locations","nvrs","alerts"]},{"name":"Access Control","tags":["doors","events"]},{"name":"Emergency Management System","tags":["reunification"]}],"components":{"schemas":{"CreateFirearmAlertRequest":{"properties":{"name":{"type":"string","maxLength":255,"title":"Name"},"camera_mac_addresses":{"items":{"type":"string"},"type":"array","title":"Camera Mac Addresses"},"recipients":{"items":{"$ref":"#/components/schemas/FirearmAlertRecipient"},"type":"array","title":"Recipients"},"schedule":{"$ref":"#/components/schemas/FirearmAlertSchedule"},"sensitivity":{"allOf":[{"$ref":"#/components/schemas/AlertSensitivityLevel"}],"default":"Medium"},"handgun_positive_stances":{"items":{"$ref":"#/components/schemas/HandgunStanceType"},"type":"array","default":[]},"push_notification_level":{"allOf":[{"$ref":"#/components/schemas/PushNotificationLevel"}],"default":"active"}},"type":"object","required":["camera_mac_addresses","recipients"],"title":"CreateFirearmAlertRequest"},"FirearmAlertRecipient":{"properties":{"email":{"type":"string","format":"email","title":"Email"},"notify_by_email":{"type":"boolean","title":"Notify By Email","default":true},"notify_by_sms":{"type":"boolean","title":"Notify By Sms","description":"Only delivered if the user has a phone number on file.","default":true},"notify_by_push":{"type":"boolean","title":"Notify By Push","description":"Only delivered if the user has a registered mobile device.","default":true}},"type":"object","required":["email"],"title":"FirearmAlertRecipient","description":"A platform user (resolved by email) to notify, with per-channel toggles."},"PushNotificationLevel":{"type":"string","enum":["active","critical","passive","time-sensitive"],"title":"PushNotificationLevel","description":"Defines the interruption level for mobile push notifications.\n\nThis level determines the notification priority and how it will interrupt the user:\n- ACTIVE: Standard priority notifications\n- CRITICAL: High priority notifications that can break through focus modes and DND.\n- PASSIVE: Low priority notifications that don't trigger sounds or banners\n- TIME_SENSITIVE: Important time-sensitive notifications that can break through\nsome focus modes"},"FirearmAlertSchedule":{"properties":{"start_time":{"type":"string","format":"time","title":"Start Time","default":"00:00:00"},"end_time":{"type":"string","format":"time","title":"End Time","default":"23:59:59"},"days_of_week":{"items":{"$ref":"#/components/schemas/DayOfWeek"},"type":"array","default":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]}},"type":"object","title":"FirearmAlertSchedule","description":"When the alert is active, expressed in camera-local (naive) time."},"DayOfWeek":{"enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],"title":"DayOfWeek","description":"An enumeration."},"HandgunStanceType":{"enum":["INACTIVE_CARRY","OBJECT_HOLSTERED"],"title":"HandgunStanceType","description":"An enumeration."},"AlertSensitivityLevel":{"type":"string","enum":["Low","Medium","High"],"title":"AlertSensitivityLevel","description":"An enumeration."},"CreateCameraGroupPayload":{"properties":{"name":{"type":"string","maxLength":30,"minLength":1,"title":"Name","description":"Display name for the new camera group (max 30 characters)"}},"type":"object","required":["name"],"title":"CreateCameraGroupPayload","description":"Request payload for creating a camera group.","x-public-api-group":"camera-groups"},"CameraList":{"properties":{"results":{"items":{"$ref":"#/components/schemas/Camera"},"type":"array","title":"Camera","description":"List of cameras"},"has_more":{"type":"boolean","title":"Has More","description":"True if additional pages are available"}},"type":"object","required":["results","has_more"],"title":"CameraList","description":"Paginated list of cameras.","x-public-api-group":"cameras"},"Camera":{"properties":{"id":{"type":"integer","title":"Id","description":"Unique camera identifier"},"mac_address":{"type":"string","title":"Mac Address","description":"Camera MAC address"},"name":{"type":"string","title":"Name","description":"Camera display name"},"ip":{"type":"string","title":"Ip","description":"Camera IP address on the local network"},"vendor":{"type":"string","title":"Vendor","description":"Camera manufacturer/brand"},"manufacturer":{"type":"string","title":"Manufacturer","description":"Camera hardware manufacturer"},"model":{"type":"string","title":"Model","description":"Camera hardware model"},"is_enabled":{"type":"boolean","title":"Is Enabled","description":"Whether the camera is enabled for recording"},"status":{"allOf":[{"$ref":"#/components/schemas/CameraStatus"}],"title":"Status","description":"Current connectivity status"},"nvr":{"allOf":[{"$ref":"#/components/schemas/CameraNVRInfo"}],"title":"Nvr","description":"NVR the camera is assigned to"},"rtsp_port":{"type":"integer","title":"Rtsp Port","description":"RTSP streaming port number"},"width":{"type":"integer","title":"Width","description":"Video resolution width in pixels"},"height":{"type":"integer","title":"Height","description":"Video resolution height in pixels"},"fps":{"type":"integer","title":"Fps","description":"Video frames per second"},"codec":{"type":"string","title":"Codec","description":"Video codec (e.g., 'H264', 'H265')"},"onvif_enabled":{"type":"boolean","title":"Onvif Enabled","description":"Whether ONVIF protocol is enabled"},"video_orientation_type":{"type":"string","title":"Video Orientation Type","description":"Video orientation (e.g., 'normal', 'rotated_180')"},"feature_flags":{"allOf":[{"$ref":"#/components/schemas/FeatureFlags"}],"title":"Feature Flags","description":"Current feature flag settings"},"camera_groups":{"items":{"$ref":"#/components/schemas/CameraGroup"},"type":"array","title":"CameraGroup","description":"Groups this camera belongs to"},"location":{"allOf":[{"$ref":"#/components/schemas/CameraLocation"}],"title":"Location","description":"Location where the camera is installed"}},"type":"object","required":["id","mac_address","name","ip","vendor","is_enabled","status","nvr","rtsp_port","onvif_enabled","video_orientation_type","feature_flags","camera_groups"],"title":"Camera","description":"Complete camera information in list response.","x-public-api-group":"cameras"},"CameraLocation":{"properties":{"id":{"type":"integer","title":"Id","description":"Unique location identifier"},"name":{"type":"string","title":"Name","description":"Location display name"},"timezone":{"type":"string","title":"Timezone","description":"IANA timezone (e.g., 'America/New_York')"}},"type":"object","required":["id","name","timezone"],"title":"CameraLocation","description":"Location associated with cameras and camera groups.","x-public-api-group":"cameras"},"CameraGroup":{"properties":{"id":{"type":"integer","title":"Id","description":"Unique camera group identifier"},"name":{"type":"string","title":"Name","description":"Camera group display name"}},"type":"object","required":["id","name"],"title":"CameraGroup","description":"A logical grouping of cameras for organization and access control.","x-public-api-group":"camera-groups"},"FeatureFlags":{"properties":{"is_audio_enabled":{"type":"boolean","title":"Is Audio Enabled","description":"Whether audio recording is enabled"},"is_license_plate_detection_enabled":{"type":"boolean","title":"Is License Plate Detection Enabled","description":"Whether license plate detection is enabled"},"is_force_fps_enabled":{"type":"boolean","title":"Is Force Fps Enabled","description":"Whether FPS is forced to a specific value"},"auto_tracking":{"type":"boolean","title":"Auto Tracking","description":"Whether PTZ auto-tracking is enabled"}},"type":"object","required":["is_audio_enabled","is_license_plate_detection_enabled","is_force_fps_enabled","auto_tracking"],"title":"FeatureFlags","description":"Current feature flag settings for a camera.","x-public-api-group":"cameras"},"CameraStatus":{"properties":{"is_online":{"type":"boolean","title":"Is Online","description":"Indicates whether the camera is currently connected and accessible"},"last_seen_time":{"type":"string","title":"Last Seen Time","description":"Last connection timestamp (ISO 8601 format)"}},"type":"object","required":["is_online"],"title":"CameraStatus","description":"Current connectivity status of a camera.","x-public-api-group":"cameras"},"CameraNVRInfo":{"properties":{"name":{"type":"string","title":"Name","description":"NVR display name"},"timezone":{"type":"string","title":"Timezone","description":"NVR timezone (IANA format, e.g., 'America/New_York')"}},"type":"object","required":["name"],"title":"CameraNVRInfo","description":"NVR (Network Video Recorder) associated with the camera.","x-public-api-group":"cameras"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"SpeedTestFailureResponse":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"SpeedTestFailureResponse","description":"Failure response for speed test request."},"ErrorDetails":{"properties":{"code":{"allOf":[{"$ref":"#/components/schemas/ErrorCode"}],"description":"Error code"},"message":{"type":"string","title":"Message","description":"Error message"},"field":{"type":"string","title":"Field","description":"Error field"},"docs":{"type":"string","title":"Docs","description":"Error docs"}},"type":"object","required":["code","message"],"title":"ErrorDetails","description":"Error message"},"ErrorCode":{"type":"string","enum":["VALIDATION_ERROR","BATCH_SIZE_EXCEEDED","NO_CAMERAS_PROVIDED","PARTIAL_OPERATIONS_NOT_SUPPORTED","CAMERA_ALREADY_EXISTS","CAMERA_NOT_FOUND","NO_LICENSES_AVAILABLE","INVALID_MAC_ADDRESS","INVALID_IP_ADDRESS","DUPLICATE_MAC_ADDRESSES","NVR_CAPACITY_EXCEEDED","NVR_NOT_FOUND","INVALID_NVR_NAME","LOCATION_NOT_FOUND","NVR_REGISTRATION_FAILED","NVR_ALREADY_REGISTERED","PING_REQUEST_TIMEOUT","PING_REQUEST_FAILED","SPEEDTEST_REQUEST_TIMEOUT","SPEEDTEST_REQUEST_FAILED","NO_NVRS_PROVIDED","DUPLICATE_NVR_NAMES","LOCATION_ACCESS_DENIED","LOCATION_NAME_ALREADY_EXISTS","LOCATION_CREATION_FAILED","NO_LOCATIONS_PROVIDED","DUPLICATE_LOCATION_NAMES","ALERT_EVENT_NOT_FOUND","ALERT_NO_VIDEO_AVAILABLE","ALERT_CAMERA_NOT_FOUND","ALERT_CLIP_GENERATION_FAILED","ALERT_NOT_FIREARM","FIREARM_ALERT_NOT_FOUND","INVALID_RECIPIENT_EMAILS","PREMIUM_ALERT_CAMERA_LIMIT_EXCEEDED","CAMERA_ALREADY_IN_USE","ACCESS_EVENT_NOT_FOUND","ACCESS_EVENT_NO_VIDEO_AVAILABLE","ACCESS_EVENT_CLIP_GENERATION_FAILED","CAMERA_GROUP_NOT_FOUND","CAMERA_GROUP_NAME_ALREADY_EXISTS","CAMERA_GROUP_CREATION_FAILED","NO_GROUPS_PROVIDED","DUPLICATE_GROUP_NAMES","INVALID_GROUP_ID","DUPLICATE_GROUP_IDS"],"title":"ErrorCode","description":"Centralized error codes for Developer API endpoints."},"RegisterCameraRequest":{"properties":{"cameras":{"items":{"$ref":"#/components/schemas/RegisterCameraPayload"},"type":"array","title":"RegisterCameraPayload","description":"List of cameras to register"},"location_id":{"type":"integer","title":"location_id","description":"Location ID to assign cameras to"}},"type":"object","required":["cameras","location_id"],"title":"RegisterCameraRequest","description":"Request model for bulk camera registration.","x-public-api-group":"cameras"},"RegisterCameraPayload":{"properties":{"mac_address":{"type":"string","title":"mac_address","description":"Camera MAC address. If omitted, a synthetic unique identifier is generated server-side."},"name":{"type":"string","minLength":1,"title":"name","description":"Camera display name"},"ip":{"type":"string","title":"ip","description":"Camera IP address"},"vendor":{"type":"string","title":"vendor","description":"Camera manufacturer. Defaults to 'Unknown' when not provided."},"rtsp_port":{"type":"integer","maximum":65535.0,"minimum":1.0,"title":"rtsp_port","description":"RTSP port number","default":554},"rtsp_url_path":{"type":"string","title":"rtsp_url_path","description":"Path component of the RTSP URL (e.g. '/Streaming/Channels/101'). Combined with ip, rtsp_port and credentials at runtime to form the full URL. Defaults to '/unknown' to match the placeholder used elsewhere in the system; callers should set this when the actual path is known.","default":"/unknown"},"credentials":{"allOf":[{"$ref":"#/components/schemas/Credentials"}],"title":"Credentials","description":"Camera credentials"},"nvrs":{"items":{"type":"string","minLength":1},"type":"array","minLength":1,"title":"nvrs","description":"List of NVR display names from which the camera will be assigned to one. The system selects an available NVR from this list during registration."}},"type":"object","required":["name","ip","nvrs"],"title":"RegisterCameraPayload","description":"Request model for registering a single camera in bulk operation.","x-public-api-group":"cameras"},"Credentials":{"properties":{"username":{"type":"string","title":"Username","description":"Camera login username"},"password":{"type":"string","title":"Password","description":"Camera login password"}},"type":"object","required":["username","password"],"title":"Credentials","description":"Authentication credentials for camera access.","x-public-api-group":"cameras"},"RegisterNVRResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"summary":{"allOf":[{"$ref":"#/components/schemas/Summary"}],"title":"Summary","description":"Summary of the registration operation"},"results":{"items":{"oneOf":[{"$ref":"#/components/schemas/RegisterNVRSuccessResult"},{"$ref":"#/components/schemas/RegisterNVRErrorResult"}],"discriminator":{"propertyName":"status","mapping":{"success":"#/components/schemas/RegisterNVRSuccessResult","error":"#/components/schemas/RegisterNVRErrorResult"}}},"type":"array","title":"RegisterNVRResult","description":"List of NVR registration results"}},"type":"object","required":["summary"],"title":"RegisterNVRResponse","description":"Response model for bulk NVR registration.","x-public-api-group":"nvrs"},"Summary":{"properties":{"total":{"type":"integer","title":"Total","description":"Total number of operations in request"},"success_count":{"type":"integer","minimum":0.0,"title":"Success Count","description":"Number of successful operations"},"failure_count":{"type":"integer","minimum":0.0,"title":"Failure Count","description":"Number of failed operations"}},"type":"object","required":["total","success_count","failure_count"],"title":"Summary","description":"Summary of operation."},"RegisterNVRErrorResult":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"RegisterNVRErrorResult","description":"Error result for NVR registration.","x-public-api-group":"nvrs"},"RegisterNVRSuccessResult":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/RegisterNVRSuccessData"}],"title":"RegisterNVRSuccessData","description":"Success data"}},"type":"object","required":["data"],"title":"RegisterNVRSuccessResult","description":"Success result for NVR registration.","x-public-api-group":"nvrs"},"RegisterNVRSuccessData":{"properties":{"nvr":{"type":"string","title":"nvr","description":"NVR display name"}},"type":"object","required":["nvr"],"title":"RegisterNVRSuccessData","description":"Data returned for a successfully registered NVR.","x-public-api-group":"nvrs"},"DoorList":{"type":"object","required":["results","has_more"],"properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/Door"}},"has_more":{"type":"boolean","description":"Reserved for future pagination; always false today. The endpoint\ncurrently returns every door the caller can see.\n"}},"x-public-api-group":"doors"},"Door":{"type":"object","required":["id","name","location_id","is_online"],"properties":{"id":{"type":"integer","format":"int64","description":"Stable internal identifier of the door."},"name":{"type":"string","description":"Human-readable door name as set in the Coram app."},"location_id":{"type":"integer","format":"int64","description":"ID of the location this door belongs to. Zero when the door has no assigned location."},"is_online":{"type":"boolean","description":"True if the door's controller board has reported a heartbeat\nwithin the last 15 seconds.\n"}},"x-public-api-group":"doors"},"AuthErrorResponse":{"type":"object","required":["detail"],"properties":{"detail":{"type":"string","description":"Human-readable error description. Matches the shape FastAPI uses\nfor `HTTPException` responses, so existing code that parses the\nPython developer-api's auth errors works unchanged.\n"}}},"CameraGroupList":{"properties":{"results":{"items":{"$ref":"#/components/schemas/CameraGroup"},"type":"array","title":"Results","description":"List of camera groups"},"has_more":{"type":"boolean","title":"Has More","description":"True if additional pages are available"}},"type":"object","required":["results","has_more"],"title":"CameraGroupList","description":"Paginated list of camera groups.","x-public-api-group":"camera-groups"},"PingSuccessResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/PingSuccessData"}],"title":"PingSuccessData","description":"Ping test results"}},"type":"object","required":["data"],"title":"PingSuccessResponse","description":"Success response for ping request."},"PingSuccessData":{"properties":{"timestamp":{"type":"string","title":"Timestamp","description":"Timestamp of ping result (ISO 8601 format)"},"domain":{"type":"string","title":"Domain","description":"Domain/IP that was pinged"},"avg_ping_latency_ms":{"type":"number","title":"Avg Ping Latency Ms","description":"Average ping latency in milliseconds"},"packet_loss":{"type":"number","title":"Packet Loss","description":"Packet loss percentage (0-100)"}},"type":"object","required":["timestamp","domain","avg_ping_latency_ms","packet_loss"],"title":"PingSuccessData","description":"Ping test results."},"UpdateCameraResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"summary":{"allOf":[{"$ref":"#/components/schemas/Summary"}],"title":"Summary","description":"Summary of the update operation"},"results":{"items":{"oneOf":[{"$ref":"#/components/schemas/UpdateCameraSuccessResult"},{"$ref":"#/components/schemas/UpdateCameraErrorResult"}],"discriminator":{"propertyName":"status","mapping":{"success":"#/components/schemas/UpdateCameraSuccessResult","error":"#/components/schemas/UpdateCameraErrorResult"}}},"type":"array","title":"UpdateCameraResult","description":"List of camera update results"}},"type":"object","required":["summary"],"title":"UpdateCameraResponse","description":"Response model for bulk camera update.","x-public-api-group":"cameras"},"UpdateCameraSuccessResult":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/UpdateCameraSuccessData"}],"title":"UpdateCameraSuccessData","description":"Success data"}},"type":"object","required":["data"],"title":"UpdateCameraSuccessResult","description":"Success result for camera update.","x-public-api-group":"cameras"},"UpdateCameraSuccessData":{"properties":{"mac_address":{"type":"string","title":"Mac Address","description":"Camera MAC address"},"name":{"type":"string","title":"name","description":"Camera display name"},"credentials":{"allOf":[{"$ref":"#/components/schemas/Credentials"}],"title":"Credentials","description":"Camera credentials"},"enforced_rtsp_url":{"type":"string","title":"enforced_rtsp_url","description":"Custom RTSP URL"},"feature_flags":{"allOf":[{"$ref":"#/components/schemas/CameraFeatureFlag"}],"title":"CameraFeatureFlag","description":"Camera feature flags"},"group_ids":{"items":{"type":"integer"},"type":"array","title":"group_ids","description":"Updated group IDs"}},"type":"object","required":["mac_address"],"title":"UpdateCameraSuccessData","description":"Data returned for a successfully updated camera.","x-public-api-group":"cameras"},"CameraFeatureFlag":{"properties":{"is_audio_enabled":{"type":"boolean","title":"Is Audio Enabled","description":"Whether audio recording is enabled"},"is_license_plate_detection_enabled":{"type":"boolean","title":"Is License Plate Detection Enabled","description":"Whether license plate detection is enabled"},"auto_tracking":{"type":"boolean","title":"Auto Tracking","description":"Whether PTZ auto-tracking is enabled"}},"type":"object","title":"CameraFeatureFlag","description":"Feature flags to update on a camera.","x-public-api-group":"cameras"},"UpdateCameraErrorResult":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"UpdateCameraErrorResult","description":"Error result for camera update.","x-public-api-group":"cameras"},"NVRList":{"properties":{"results":{"items":{"$ref":"#/components/schemas/NVR"},"type":"array","title":"NVR","description":"List of NVRs"},"has_more":{"type":"boolean","title":"Has More","description":"True if additional pages are available"}},"type":"object","required":["results","has_more"],"title":"NVRList","description":"Paginated list of NVRs.","x-public-api-group":"nvrs"},"NVR":{"properties":{"name":{"type":"string","title":"Name","description":"NVR display name"},"location":{"allOf":[{"$ref":"#/components/schemas/Location"}],"title":"Location","description":"Location where the NVR is installed"},"camera_info":{"allOf":[{"$ref":"#/components/schemas/CameraInfo"}],"title":"Camera Info","description":"Camera capacity and status summary"},"retention_days":{"type":"integer","title":"Retention Days","description":"Video retention period in days"},"internet_status":{"allOf":[{"$ref":"#/components/schemas/InternetStatus"}],"title":"Internet Status","description":"Internet connectivity status"},"serial_number":{"type":"string","title":"Serial Number","description":"NVR serial number"},"network_info":{"allOf":[{"$ref":"#/components/schemas/NetworkInfo"}],"title":"Network Info","description":"Network configuration"},"status":{"allOf":[{"$ref":"#/components/schemas/Status"}],"title":"Status","description":"Current connectivity status"},"sku":{"type":"string","title":"Sku","description":"Stock Keeping Unit (SKU) identifier for the NVR hardware model"}},"type":"object","required":["name","camera_info","retention_days","status"],"title":"NVR","description":"Network Video Recorder details.","x-public-api-group":"nvrs"},"Location":{"properties":{"id":{"type":"integer","title":"Id","description":"Unique location identifier"},"name":{"type":"string","title":"Name","description":"Location display name"},"address":{"type":"string","title":"Address","description":"Physical street address"},"timezone":{"type":"string","title":"Timezone","description":"Timezone (IANA format, e.g., 'America/New_York')"}},"type":"object","required":["id","name","address"],"title":"Location","description":"A physical location where cameras and NVRs are installed.","x-public-api-group":"locations"},"CameraInfo":{"properties":{"num_cameras_enabled":{"type":"integer","title":"Num Cameras Enabled","description":"Number of enabled cameras"},"num_cameras_disabled":{"type":"integer","title":"Num Cameras Disabled","description":"Number of disabled cameras"},"num_available_cameras_slots":{"type":"integer","title":"Num Available Cameras Slots","description":"Number of available camera slots"},"max_cameras_slots":{"type":"integer","title":"Max Cameras Slots","description":"Maximum camera slots supported"},"num_online_cameras":{"type":"integer","title":"Num Online Cameras","description":"Number of currently online cameras"}},"type":"object","required":["num_cameras_enabled","num_cameras_disabled","num_available_cameras_slots","max_cameras_slots","num_online_cameras"],"title":"CameraInfo","description":"Camera capacity and status summary for the NVR.","x-public-api-group":"cameras"},"Status":{"properties":{"last_seen_time":{"type":"string","title":"Last Seen Time","description":"Last connection timestamp (ISO 8601 format)"},"is_online":{"type":"boolean","title":"Is Online","description":"Whether the NVR is currently connected"}},"type":"object","required":["is_online"],"title":"Status","description":"Current connectivity status of the NVR."},"InternetStatus":{"properties":{"domain":{"type":"string","title":"Domain","description":"Domain/IP that was pinged"},"avg_ping_latency_ms":{"type":"number","title":"Avg Ping Latency Ms","description":"Average ping latency in milliseconds"},"packet_loss":{"type":"number","title":"Packet Loss","description":"Packet loss percentage (0-100)"},"internet_speed":{"allOf":[{"$ref":"#/components/schemas/InternetSpeed"}],"title":"Internet Speed","description":"Internet speed test results"}},"type":"object","required":["domain"],"title":"InternetStatus","description":"Internet connectivity status and speed information."},"InternetSpeed":{"properties":{"download_speed_bps":{"type":"number","title":"Download Speed Bps","description":"Download speed in bits per second"},"upload_speed_bps":{"type":"number","title":"Upload Speed Bps","description":"Upload speed in bits per second"},"timestamp":{"type":"string","title":"Timestamp","description":"Timestamp of speed test result (ISO 8601 format)"}},"type":"object","required":["download_speed_bps","upload_speed_bps","timestamp"],"title":"InternetSpeed","description":"Internet speed test results."},"NetworkInfo":{"properties":{"ip_address":{"type":"string","title":"Ip Address","description":"NVR IP address on the local network"},"subnet_mask":{"type":"string","title":"Subnet Mask","description":"Network subnet mask"},"gateway":{"type":"string","title":"Gateway","description":"Default gateway IP address"}},"type":"object","title":"NetworkInfo","description":"Network configuration of the NVR."},"AlertDetailsResponse":{"properties":{"alert_event_id":{"type":"integer","title":"Alert Event Id","description":"ID of the alert event"},"alert_time":{"type":"string","format":"date-time","title":"Alert Time","description":"When the alert was triggered (UTC)"},"camera_mac_address":{"type":"string","title":"Camera Mac Address","description":"MAC address of the camera that captured the alert"},"ai":{"allOf":[{"$ref":"#/components/schemas/AlertAIDescriptionInfo"}],"title":"Ai","description":"AI-generated description of the alert"},"clip":{"allOf":[{"$ref":"#/components/schemas/AlertClipInfo"}],"title":"Clip","description":"Video clip associated with the alert, if one exists. Omitted entirely when no clip is being produced for this alert. When present, `clip.status` indicates whether the download `mp4_url` is `ready`, `pending`, or `failed`."}},"type":"object","required":["alert_event_id","alert_time","camera_mac_address","ai"],"title":"AlertDetailsResponse","description":"Response for the alert details endpoint.\n\nReturns metadata about an alert event, including the rich natural-language\ndescription generated by Coram's vision language model. The description is\nproduced asynchronously, so `ai.status` indicates whether it is ready yet,\nstill being generated, or definitively missing. The `camera_alert_details`\nwebhook delivers this exact payload shape as its `data`."},"AlertAIDescriptionInfo":{"properties":{"status":{"allOf":[{"$ref":"#/components/schemas/AIDescriptionStatus"}],"description":"Whether the AI description is `ready` (at least one of `short_description` / `long_description` is present), `pending` (still being generated — poll again shortly; never sent by the webhook, which only fires once the description has settled), or `failed` (generation failed or was skipped; no description will arrive)."},"short_description":{"type":"string","title":"Short Description","description":"Short AI-generated summary of what the camera observed. Omitted when `status` is `pending` or `failed`. May also be omitted when `status` is `ready` if only the long description was generated — consumers should treat the field's absence as equivalent to null and check both descriptions before using either."},"long_description":{"type":"string","title":"Long Description","description":"Long-form AI-generated description of what the camera observed. Omitted when `status` is `pending` or `failed`. May also be omitted when `status` is `ready` if only the short description was generated — consumers should treat the field's absence as equivalent to null and check both descriptions before using either."}},"type":"object","required":["status"],"title":"AlertAIDescriptionInfo","description":"AI-generated description of an alert, grouped the way `clip` is.\n\nShared by the alert details endpoint and the `camera_alert_details`\nwebhook so both carry the identical payload shape."},"AIDescriptionStatus":{"type":"string","enum":["ready","pending","failed"],"title":"AIDescriptionStatus","description":"Status of the AI-generated alert description.\n\nThe description is produced asynchronously by a vision language model after\nthe alert is emitted, so consumers polling this endpoint right after a\nwebhook may see `pending` for a few seconds before it transitions to\n`ready` or `failed`."},"AlertClipInfo":{"properties":{"status":{"allOf":[{"$ref":"#/components/schemas/ClipStatus"}],"description":"Whether the clip is `ready` (`mp4_url` present and downloadable), `pending` (still being uploaded — poll again shortly), or `failed` (upload failed or was skipped)."},"mp4_url":{"type":"string","title":"Mp4 Url","description":"Direct download URL for the MP4 video clip. No authentication required. Present only when `status` is `ready`; valid until `expires_at`."},"expires_at":{"type":"string","format":"date-time","title":"Expires At","description":"When the `mp4_url` expires (UTC). Present only when `status` is `ready`."}},"type":"object","required":["status"],"title":"AlertClipInfo","description":"Video clip associated with an alert.\n\nPresent only when a clip exists for the alert (today: firearm alerts with\nauto clip download enabled). The `mp4_url`/`expires_at` fields are populated\nonly once `status` is `ready`."},"ClipStatus":{"type":"string","enum":["ready","pending","failed"],"title":"ClipStatus","description":"Status of the video clip associated with an alert.\n\nMirrors `AIDescriptionStatus`: the clip is produced asynchronously (the\nedge device uploads it after the alert fires), so consumers polling this\nendpoint right after a webhook may see `pending` before it becomes `ready`."},"DeleteCameraResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"summary":{"allOf":[{"$ref":"#/components/schemas/Summary"}],"title":"Summary","description":"Summary of the delete operation"},"results":{"items":{"oneOf":[{"$ref":"#/components/schemas/DeleteCameraSuccessResult"},{"$ref":"#/components/schemas/DeleteCameraErrorResult"}],"discriminator":{"propertyName":"status","mapping":{"success":"#/components/schemas/DeleteCameraSuccessResult","error":"#/components/schemas/DeleteCameraErrorResult"}}},"type":"array","title":"DeleteCameraResult","description":"List of camera delete results"}},"type":"object","required":["summary"],"title":"DeleteCameraResponse","description":"Success response model for camera delete.","x-public-api-group":"cameras"},"DeleteCameraErrorResult":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"DeleteCameraErrorResult","description":"Error result for camera delete.","x-public-api-group":"cameras"},"DeleteCameraSuccessResult":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/DeleteCameraSuccessData"}],"title":"DeleteCameraSuccessData","description":"Success data"}},"type":"object","required":["data"],"title":"DeleteCameraSuccessResult","description":"Success result for camera delete.","x-public-api-group":"cameras"},"DeleteCameraSuccessData":{"properties":{"mac_address":{"type":"string","title":"mac_address","description":"Camera MAC address"}},"type":"object","required":["mac_address"],"title":"DeleteCameraSuccessData","description":"Data returned for a successfully deleted camera.","x-public-api-group":"cameras"},"FirearmAlertFeedbackRequest":{"properties":{"rating":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Rating","description":"Feedback score from 0.0 to 1.0. Today only 0.0 (incorrect / unhelpful) and 1.0 (correct) are produced by clients; intermediate values are reserved for future granular feedback."},"feedback_reason":{"allOf":[{"$ref":"#/components/schemas/AlertFeedbackReason"}],"description":"Optional structured reason for the feedback, typically provided with a sub-1.0 rating."},"feedback_comment":{"type":"string","maxLength":1000,"title":"Feedback Comment","description":"Optional free-text note (max 1000 characters), typically used with feedback_reason='other'."}},"type":"object","required":["rating"],"title":"FirearmAlertFeedbackRequest","description":"Request body for submitting feedback on a firearm alert."},"AlertFeedbackReason":{"type":"string","enum":["wrong_activity","not_useful","too_late","other"],"title":"AlertFeedbackReason","description":"Structured feedback reasons for thumbs down."},"MoveCameraPayload":{"properties":{"mac_address":{"type":"string","title":"mac_address","description":"Camera MAC address"},"target_nvr":{"type":"string","title":"target_nvr","description":"Name of the NVR to move the camera to"}},"type":"object","required":["mac_address","target_nvr"],"title":"MoveCameraPayload","description":"Request model for moving a camera to a different NVR.","x-public-api-group":"cameras"},"CreateLocationPayload":{"properties":{"name":{"type":"string","maxLength":30,"minLength":1,"title":"name","description":"Display name for the location (max 30 characters)"},"address":{"type":"string","minLength":5,"title":"address","description":"Physical street address (min 5 characters)"},"timezone":{"type":"string","title":"timezone","description":"Timezone (IANA format, e.g., 'America/New_York')"}},"type":"object","required":["name","address"],"title":"CreateLocationPayload","description":"Request model for creating a location.","x-public-api-group":"locations"},"ErrorResponse":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"Error","description":"Error details"}},"type":"object","required":["error"],"title":"ErrorResponse","description":"Error response model."},"UnlockResponse":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["success"],"description":"Always `success` on a 200; non-200 responses use AuthErrorResponse."}},"x-public-api-group":"doors"},"UpdateFirearmAlertRequest":{"properties":{"name":{"type":"string","maxLength":255,"title":"Name"},"camera_mac_addresses":{"items":{"type":"string"},"type":"array","title":"Camera Mac Addresses"},"recipients":{"items":{"$ref":"#/components/schemas/FirearmAlertRecipient"},"type":"array","title":"Recipients"},"schedule":{"$ref":"#/components/schemas/FirearmAlertSchedule"},"sensitivity":{"$ref":"#/components/schemas/AlertSensitivityLevel"},"handgun_positive_stances":{"items":{"$ref":"#/components/schemas/HandgunStanceType"},"type":"array"},"push_notification_level":{"$ref":"#/components/schemas/PushNotificationLevel"}},"type":"object","title":"UpdateFirearmAlertRequest"},"PingFailureResponse":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"PingFailureResponse","description":"Failure response for ping request."},"DeleteCameraPayload":{"properties":{"mac_address":{"type":"string","title":"mac_address","description":"Camera MAC address"}},"type":"object","required":["mac_address"],"title":"DeleteCameraPayload","description":"Request model for deleting a single camera in bulk operation.","x-public-api-group":"cameras"},"SpeedTestRequestPayload":{"properties":{"nvr":{"type":"string","title":"nvr","description":"NVR name to run the speed test from"}},"type":"object","required":["nvr"],"title":"SpeedTestRequestPayload","description":"Request model for speed test from an NVR."},"FirearmAlertResponse":{"properties":{"firearm_alert_id":{"type":"integer","title":"Firearm Alert Id"},"name":{"type":"string","title":"Name"},"camera_mac_addresses":{"items":{"type":"string"},"type":"array","title":"Camera Mac Addresses"},"recipients":{"items":{"$ref":"#/components/schemas/FirearmAlertRecipient"},"type":"array","title":"Recipients"},"schedule":{"$ref":"#/components/schemas/FirearmAlertSchedule"},"sensitivity":{"$ref":"#/components/schemas/AlertSensitivityLevel"},"handgun_positive_stances":{"items":{"$ref":"#/components/schemas/HandgunStanceType"},"type":"array"},"push_notification_level":{"$ref":"#/components/schemas/PushNotificationLevel"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["firearm_alert_id","camera_mac_addresses","recipients","schedule","sensitivity","handgun_positive_stances","push_notification_level","created_at"],"title":"FirearmAlertResponse"},"FirearmAlertFeedbackResponse":{"properties":{"alert_event_id":{"type":"integer","title":"Alert Event Id","description":"ID of the firearm alert event"},"rating":{"type":"number","title":"Rating","description":"Current feedback score from 0.0 to 1.0, or null if no feedback has been submitted yet."},"feedback_reason":{"allOf":[{"$ref":"#/components/schemas/AlertFeedbackReason"}],"description":"Structured reason for the feedback."},"feedback_comment":{"type":"string","title":"Feedback Comment","description":"Free-text comment left with the feedback."},"user_id":{"type":"integer","title":"User Id","description":"ID of the user whose API key last submitted feedback."},"timestamp":{"type":"string","format":"date-time","title":"Timestamp","description":"When the feedback was last submitted (UTC)."}},"type":"object","required":["alert_event_id"],"title":"FirearmAlertFeedbackResponse","description":"Current feedback for a firearm alert (organization-wide, last write wins)."},"CreateCameraGroupResponse":{"properties":{"data":{"allOf":[{"$ref":"#/components/schemas/CameraGroup"}],"title":"Data","description":"The newly created camera group data"}},"type":"object","required":["data"],"title":"CreateCameraGroupResponse","description":"Response after successfully creating a camera group.","x-public-api-group":"camera-groups"},"CreateLocationResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"summary":{"allOf":[{"$ref":"#/components/schemas/Summary"}],"title":"Summary","description":"Summary of the creation operation"},"results":{"items":{"oneOf":[{"$ref":"#/components/schemas/CreateLocationSuccessResult"},{"$ref":"#/components/schemas/CreateLocationErrorResult"}],"discriminator":{"propertyName":"status","mapping":{"success":"#/components/schemas/CreateLocationSuccessResult","error":"#/components/schemas/CreateLocationErrorResult"}}},"type":"array","title":"CreateLocationResult","description":"List of location creation results"}},"type":"object","required":["summary"],"title":"CreateLocationResponse","description":"Response model for bulk location creation.","x-public-api-group":"locations"},"CreateLocationSuccessResult":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/CreateLocationSuccessData"}],"title":"CreateLocationSuccessData","description":"Success data"}},"type":"object","required":["data"],"title":"CreateLocationSuccessResult","description":"Success result for location creation.","x-public-api-group":"locations"},"CreateLocationSuccessData":{"properties":{"id":{"type":"integer","title":"id","description":"Unique identifier of the created location"}},"type":"object","required":["id"],"title":"CreateLocationSuccessData","description":"Data returned for a successfully created location.","x-public-api-group":"locations"},"CreateLocationErrorResult":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"CreateLocationErrorResult","description":"Error result for location creation.","x-public-api-group":"locations"},"MoveCameraResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"summary":{"allOf":[{"$ref":"#/components/schemas/Summary"}],"title":"Summary","description":"Summary of the move operation"},"results":{"items":{"oneOf":[{"$ref":"#/components/schemas/MoveCameraSuccessResult"},{"$ref":"#/components/schemas/MoveCameraErrorResult"}],"discriminator":{"propertyName":"status","mapping":{"success":"#/components/schemas/MoveCameraSuccessResult","error":"#/components/schemas/MoveCameraErrorResult"}}},"type":"array","title":"MoveCameraResult","description":"List of camera move results"}},"type":"object","required":["summary"],"title":"MoveCameraResponse","description":"Response model for bulk camera move.","x-public-api-group":"cameras"},"MoveCameraSuccessResult":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/MoveCameraSuccessData"}],"title":"MoveCameraSuccessData","description":"Success data"}},"type":"object","required":["data"],"title":"MoveCameraSuccessResult","description":"Success result for camera move.","x-public-api-group":"cameras"},"MoveCameraSuccessData":{"properties":{"mac_address":{"type":"string","title":"mac_address","description":"Camera MAC address"},"target_nvr":{"type":"string","title":"target_nvr","description":"Name of the NVR the camera was moved to"}},"type":"object","required":["mac_address","target_nvr"],"title":"MoveCameraSuccessData","description":"Data returned for a successfully moved camera.","x-public-api-group":"cameras"},"MoveCameraErrorResult":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"MoveCameraErrorResult","description":"Error result for camera move.","x-public-api-group":"cameras"},"EventList":{"type":"object","required":["results","has_more"],"properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/Event"}},"has_more":{"type":"boolean","description":"True if a further page beyond `page` exists."}},"x-public-api-group":"events"},"Event":{"type":"object","required":["id","timestamp","event_type","details"],"properties":{"id":{"type":"integer","format":"int64","description":"Stable identifier for the event."},"timestamp":{"type":"string","format":"date-time","description":"RFC3339 timestamp (UTC) at which the device emitted the event."},"event_type":{"type":"string","description":"Event type as emitted by the controller. See the `event_types`\nquery param on the list endpoint for the current enumeration.\n"},"door":{"$ref":"#/components/schemas/EventDoor"},"details":{"type":"object","additionalProperties":true,"description":"Event-type-specific payload (card_id, access_decision_reason,\ndpi_state, etc.). The set of keys depends on `event_type` and\nmay expand over time — clients should ignore unknown keys.\n"}},"x-public-api-group":"events"},"EventDoor":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"location_id":{"type":"integer","format":"int64","nullable":true}},"x-public-api-group":"events"},"RegisterCameraResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"summary":{"allOf":[{"$ref":"#/components/schemas/Summary"}],"title":"Summary","description":"Summary of the registration operation"},"results":{"items":{"oneOf":[{"$ref":"#/components/schemas/RegisterCameraSuccessResult"},{"$ref":"#/components/schemas/RegisterCameraErrorResult"}],"discriminator":{"propertyName":"status","mapping":{"success":"#/components/schemas/RegisterCameraSuccessResult","error":"#/components/schemas/RegisterCameraErrorResult"}}},"type":"array","title":"RegisterCameraResult","description":"List of camera registration results"}},"type":"object","required":["summary"],"title":"RegisterCameraResponse","description":"Success response model for camera registration.","x-public-api-group":"cameras"},"RegisterCameraErrorResult":{"properties":{"status":{"type":"string","enum":["error"],"title":"Status","default":"error"},"error":{"allOf":[{"$ref":"#/components/schemas/ErrorDetails"}],"title":"ErrorDetails","description":"Error details"}},"type":"object","required":["error"],"title":"RegisterCameraErrorResult","description":"Error result for camera registration.","x-public-api-group":"cameras"},"RegisterCameraSuccessResult":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/RegisterCameraSuccessData"}],"title":"RegisterCameraSuccessData","description":"Success data"}},"type":"object","required":["data"],"title":"RegisterCameraSuccessResult","description":"Success result for camera registration.","x-public-api-group":"cameras"},"RegisterCameraSuccessData":{"properties":{"mac_address":{"type":"string","title":"mac_address","description":"Camera MAC address"},"nvr":{"allOf":[{"$ref":"#/components/schemas/CameraNVRInfo"}],"title":"Nvr","description":"NVR the camera was assigned to"}},"type":"object","required":["mac_address","nvr"],"title":"RegisterCameraSuccessData","description":"Data returned for a successfully registered camera.","x-public-api-group":"cameras"},"SpeedTestSuccessResponse":{"properties":{"status":{"type":"string","enum":["success"],"title":"Status","default":"success"},"data":{"allOf":[{"$ref":"#/components/schemas/SpeedTestSuccessData"}],"title":"SpeedTestSuccessData","description":"Speed test results"}},"type":"object","required":["data"],"title":"SpeedTestSuccessResponse","description":"Success response for speed test request."},"SpeedTestSuccessData":{"properties":{"timestamp":{"type":"string","title":"Timestamp","description":"Timestamp of speed test result (ISO 8601 format)"},"domain":{"type":"string","title":"Domain","description":"Domain used for speed test"},"avg_ping_latency_ms":{"type":"number","title":"Avg Ping Latency Ms","description":"Average ping latency in milliseconds"},"packet_loss":{"type":"number","title":"Packet Loss","description":"Packet loss percentage (0-100)"},"download_speed_bps":{"type":"number","title":"Download Speed Bps","description":"Download speed in bits per second"},"upload_speed_bps":{"type":"number","title":"Upload Speed Bps","description":"Upload speed in bits per second"}},"type":"object","required":["timestamp","domain","download_speed_bps","upload_speed_bps"],"title":"SpeedTestSuccessData","description":"Speed test results."},"EventClipResponse":{"properties":{"preview_url":{"type":"string","title":"Preview Url","description":"Web player page URL for viewing the clip in a browser. No authentication required. Valid until expires_at."},"mp4_url":{"type":"string","title":"Mp4 Url","description":"Direct download URL for the MP4 video clip. No authentication required. Valid until expires_at."},"expires_at":{"type":"string","format":"date-time","title":"Expires At","description":"When the URLs expire (UTC)"},"clip_start_time":{"type":"string","format":"date-time","title":"Clip Start Time","description":"Start time of the video clip (UTC)"},"clip_end_time":{"type":"string","format":"date-time","title":"Clip End Time","description":"End time of the video clip (UTC)"},"event_id":{"type":"integer","title":"Event Id","description":"ID of the access control event"},"camera_mac_address":{"type":"string","title":"Camera Mac Address","description":"MAC address of the camera that recorded the clip (door's primary camera)"}},"type":"object","required":["preview_url","mp4_url","expires_at","clip_start_time","clip_end_time","event_id","camera_mac_address"],"title":"EventClipResponse","description":"Response for the access control event clip download endpoint.","x-public-api-group":"events"},"AlertClipResponse":{"properties":{"preview_url":{"type":"string","title":"Preview Url","description":"Web player page URL for viewing the clip in a browser. No authentication required. Valid until expires_at."},"mp4_url":{"type":"string","title":"Mp4 Url","description":"Direct download URL for the MP4 video clip. No authentication required. Valid until expires_at."},"expires_at":{"type":"string","format":"date-time","title":"Expires At","description":"When the URLs expire (UTC)"},"clip_start_time":{"type":"string","format":"date-time","title":"Clip Start Time","description":"Start time of the video clip (UTC)"},"clip_end_time":{"type":"string","format":"date-time","title":"Clip End Time","description":"End time of the video clip (UTC)"},"alert_event_id":{"type":"integer","title":"Alert Event Id","description":"ID of the alert event"},"camera_mac_address":{"type":"string","title":"Camera Mac Address","description":"MAC address of the camera that captured the alert"}},"type":"object","required":["preview_url","mp4_url","expires_at","clip_start_time","clip_end_time","alert_event_id","camera_mac_address"],"title":"AlertClipResponse","description":"Response for the alert clip download endpoint."},"PingRequestBody":{"properties":{"ip_address":{"type":"string","title":"ip_address","description":"IPv4 address to ping"},"nvr":{"type":"string","title":"nvr","description":"NVR name to run the ping from"}},"type":"object","required":["ip_address","nvr"],"title":"PingRequestBody","description":"Request model for ping test from an NVR."},"RegisterNVRPayload":{"properties":{"nvr":{"type":"string","minLength":1,"title":"nvr","description":"Display name for the NVR"},"location_id":{"type":"integer","exclusiveMinimum":0.0,"title":"location_id","description":"Location ID to assign the NVR to"}},"type":"object","required":["nvr","location_id"],"title":"RegisterNVRPayload","description":"Request model for registering an NVR.","x-public-api-group":"nvrs"},"LocationList":{"properties":{"results":{"items":{"$ref":"#/components/schemas/Location"},"type":"array","title":"Location","description":"List of locations"},"has_more":{"type":"boolean","title":"Has More","description":"True if additional pages are available"}},"type":"object","required":["results","has_more"],"title":"LocationList","description":"Paginated list of locations.","x-public-api-group":"locations"},"UpdateCameraPayload":{"properties":{"mac_address":{"type":"string","title":"mac_address","description":"Camera MAC address"},"name":{"type":"string","title":"name","description":"New display name (max 30 characters)"},"credentials":{"allOf":[{"$ref":"#/components/schemas/Credentials"}],"title":"credentials","description":"Camera credentials"},"enforced_rtsp_url":{"type":"string","title":"Enforced Rtsp Url","description":"Custom RTSP URL to override auto-discovery. Provide the path component beginning with '/' (e.g. '/Streaming/Channels/101'); it is combined with the camera's IP, port and credentials at connection time. A full 'rtsp://host:port/path' URL is also accepted and reduced to its path."},"feature_flags":{"allOf":[{"$ref":"#/components/schemas/CameraFeatureFlag"}],"title":"CameraFeatureFlag","description":"Camera feature flags"},"group_ids":{"items":{"type":"integer"},"type":"array","title":"group_ids","description":"List of group IDs to assign (empty list resets to default group)"}},"type":"object","required":["mac_address"],"title":"UpdateCameraPayload","description":"Request model for updating a single camera in bulk operation.","x-public-api-group":"cameras"},"ReunificationImportInput":{"type":"object","required":["schools","students","teachers","sections","school_location_mappings"],"description":"Full-replace roster payload. `schools`, `students`, `teachers`, and\n`sections` must be present (may be empty arrays) so an omitted key can't\nsilently delete that entity type; `staff` is optional. Phone numbers are\nnormalized to E.164; a number that can't be parsed for the region is\ndropped (stored as null), not rejected — so a malformed guardian\ncontact number is silently lost rather than failing the import.\n","properties":{"schools":{"type":"array","items":{"$ref":"#/components/schemas/ReunificationSchool"}},"students":{"type":"array","items":{"$ref":"#/components/schemas/ReunificationStudent"}},"teachers":{"type":"array","items":{"$ref":"#/components/schemas/ReunificationTeacher"}},"staff":{"type":"array","items":{"$ref":"#/components/schemas/ReunificationStaff"}},"sections":{"type":"array","description":"Class/section memberships that establish student↔teacher relationships.","items":{"$ref":"#/components/schemas/ReunificationSection"}},"school_location_mappings":{"type":"object","additionalProperties":{"type":"integer","format":"int32"},"description":"Maps each school_id in the payload to a Coram location ID."}}},"ReunificationStaff":{"type":"object","required":["staff_id","name","school_ids"],"properties":{"staff_id":{"type":"string"},"name":{"type":"string"},"sis_id":{"type":"string"},"email":{"type":"string"},"phone_number":{"type":"string"},"title":{"type":"string"},"department":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"school_ids":{"type":"array","items":{"type":"string"}}}},"ReunificationSection":{"type":"object","required":["section_id"],"description":"A class/section linking students to teachers (drives student↔teacher relationships).","properties":{"section_id":{"type":"string"},"school_id":{"type":"string"},"teacher_ids":{"type":"array","items":{"type":"string"}},"student_ids":{"type":"array","items":{"type":"string"}}}},"ReunificationSchool":{"type":"object","required":["school_id","name"],"properties":{"school_id":{"type":"string","description":"Your identifier for the school; referenced by students/teachers/staff and school_location_mappings."},"name":{"type":"string"},"sis_id":{"type":"string"},"address":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"}}},"ReunificationStudent":{"type":"object","required":["student_id","name","school_ids"],"properties":{"student_id":{"type":"string"},"name":{"type":"string"},"sis_id":{"type":"string"},"email":{"type":"string"},"phone_number":{"type":"string"},"grade":{"type":"string"},"school_ids":{"type":"array","description":"School IDs the student belongs to. The first is the primary school; the rest are secondary.","items":{"type":"string"}},"guardians":{"type":"array","items":{"$ref":"#/components/schemas/ReunificationGuardian"}}}},"ReunificationGuardian":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"relationship":{"type":"string"}}},"ReunificationTeacher":{"type":"object","required":["teacher_id","name","school_ids"],"properties":{"teacher_id":{"type":"string"},"name":{"type":"string"},"sis_id":{"type":"string"},"email":{"type":"string"},"phone_number":{"type":"string"},"school_ids":{"type":"array","items":{"type":"string"}}}},"ReunificationImportStatus":{"type":"object","required":["id","status"],"description":"Progress and partial-success report for a reunification import. Counts\nare cumulative for the current/most-recent import.\n","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["in_progress","completed","failed"]},"synced_schools":{"type":"integer","format":"int32","default":0},"total_schools":{"type":"integer","format":"int32","default":0},"synced_students":{"type":"integer","format":"int32","default":0},"total_students":{"type":"integer","format":"int32","default":0},"synced_teachers":{"type":"integer","format":"int32","default":0},"total_teachers":{"type":"integer","format":"int32","default":0},"synced_staff":{"type":"integer","format":"int32","default":0},"total_staff":{"type":"integer","format":"int32","default":0},"synced_guardians":{"type":"integer","format":"int32","default":0},"total_guardians":{"type":"integer","format":"int32","default":0},"succeeded_users":{"type":"integer","format":"int32","default":0},"failed_users":{"type":"integer","format":"int32","default":0},"error_message":{"type":"string"},"started_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time"}}}},"securitySchemes":{"X-Auth-Token":{"type":"apiKey","in":"header","name":"X-Auth-Token"}}},"security":[{"X-Auth-Token":[]}]}